.bandstyles ul {
  list-style: none;
  margin: 0;
  padding: 0.75em;
}

.bandstyles li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0.5em 0;
}