.bands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
}

.bands-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.bands-header p {
    font-size: 1.25rem;
    font-weight: bold;
}