.bands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    /* margin: 0 auto; */
    /* width: 100%; */
    /* max-width: 100px; */
    padding: 0 20px;
}