.like {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 25%;
}

.like button {
  font-size:x-large;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}